{
  "arrowParens": "always",
  "importOrder": [
    "^@src",
    "^@pages",
    "^@api",
    "^@components",
    "^@utils",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5"
}
